<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta property="og:title" content="Og plan safety net as startups revoke offers ">
	<meta property="og:description" content="OG will allow all the affected students">
	<meta property="og:url" content="http://dev.ashurst.snlondon.com">
	<meta property="og:image" content="http://dev.ashurst.snlondon.com/assets/img/Tablet_Medium_Tile.jpg">
	<meta property="twitter:title" content="IITs plan safety net as startups revoke offers ">
	<meta property="twitter:description" content="IITs will allow all the affected students to re-register for placements, after some startups revoked ">
	<meta property="twitter:url" content="http://dev.ashurst.snlondon.com">
	<meta property="twitter:image" content="http://dev.ashurst.snlondon.com/assets/img/Tablet_Medium_Tile.jpg">

  <title>{{site.title}}</title>

	<!-- <link rel="icon" type="image/png" href="http://10.202.99.181:3000/assets/img/favicons/favicon.ico" sizes="16x16"> -->
<!-- 	<link rel="shortcut icon" href="/assets/img/favicons/favicon.ico" type="image/x-icon" >
<link rel="shortcut icon" href="http://10.202.99.63:3000/assets/img/favicons/favicon.ico" type="image/x-icon" > -->
	<link rel="manifest" href="assets/img/favicons/manifest.json">
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="{{site.domain}}assets/css/libs.css">
  <link href="https://unpkg.com/basscss@8.0.2/css/basscss.min.css" rel="stylesheet"> 


  <!-- Custom styles for this template -->
  <link href="{{site.domain}}assets/css/style.css" rel="stylesheet">

</head>
